doctype html

html(lang=language)
  head
    meta(charset="utf-8")
    block head

    each url in css.external
      link(rel="stylesheet" type="text/css" href=url)

    each code in css.inline
      style(type="text/css")=code

    each language in otherLanguages
      link(rel="alternate", hreflang=language.name, href=languageUrl(language.name))
  body
    block content
    block scripts

    each url in js.external
      script(type="text/javascript" src=url)

    each code in js.inline
      script(type="text/javascript")=code
